<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
                body {
                    background-image: url("https://ih0.redbubble.net/image.500599439.2327/raf,360x360,075,t,fafafa:ca443f4786.jpg");
                    background-position: 50% 50%;
                    background-repeat: repeat;
                }
        </style>
        <title>Online Ordering System</title>
        <a href="https://github.com/cs1531/gourmet-XJ_Aven_Dheeraj/tree/MileStone3_Starter" style="color:purple;"><i><small>powered by XJ_Aven_Dheeraj</i></small></a><br><br>
    </head>
<center>
<!-- Image might have to be edited slightly in terms of height and width  It's not necessary to put in if struggling to edit. -->
<img src="https://pbs.twimg.com/profile_images/378800000845726730/2db746541d2a1840e050533eba244270_400x400.jpeg" width="100px" height="100px"/>
<br/>
<body style="zoom: 1.6;">

<!-- Tab Menu -->
<br>
<a href="{{ url_for('menu') }}" style="color: #cc0000"><img src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1502/faysalfarhan150200096/35973128-home-icon-red-glossy-round-button.jpg" width="42" height="42" border="0"></a><br>
<br>

<!-- Main Content -->
{% block body %}{% endblock %}

</body>
</center>
</html>
