{% extends 'base.html' %}
{% block body %}

{% for o in olist %}
    <hr>
    <p>Order Id: {{o.orderid}}</p><br>
    {% for a_value in o.main %}
        <p>{{ a_value.containers.name }}</p>
        {% if a_value.containers.name == "white wrap" or a_value.containers.name == "gluten free wrap" %}
            <p>{{ (a_value.containers.quantity/100)|round|int }}</p><br>
        {% else %}
            <p>{{ a_value.containers.quantity }}</p><br>
        {% endif %}    
        <p>{{ a_value.contents.name }}</p>
        <p>{{ a_value.contents.quantity }}</p><br>
        {% for extras in a_value.extra %}
            <br>
            {{ extras.name }}
        {% endfor %}
    {% endfor %}
    {% for b_value in o.other %}
        <p>{{ b_value.name }}</p>
        <p>{{ b_value.quantity }}</p><br>
    {% endfor %}
    <p>Order Status: {{o.status}}</p><br>
    <hr>
{% endfor %}

{% endblock %}
